body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Images/Background.png')  ;
  background-repeat: repeat;
  /* background-size: 50%, 1800px; */
  animation-name: backgroundslide;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  background-position-x: 1494px;
  background-position-y: 1490px;
  animation-timing-function: linear;
  user-select: none;
  /* filter: invert(100%); */
  
  
  
  
}

@keyframes backgroundslide {
  0%{
    background-position-x: 0px;
    background-position-y: 0px;

  }
  100%{
    background-position-x: 1494px;
    background-position-y: 1490px;
  }
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
