.shiba{
    animation-name: littleing;
    animation-duration: 1s;
    animation-timing-function: linear;
    

}
@keyframes littleing {
    0%{
        transform: scale(1); 
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0) ;

    }
    
}

.home{
    display: flex;
    /* background-color: red; */
    
    flex-direction: column;
    align-items: center ;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: slideup;
    animation-duration: 0.9s;

}

#iniciar{
    /* margin-top: 10px; */
    padding: 15px;
    letter-spacing: 1px;
    background-color: white;
    border-width: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: -65px;
    /* transform: translate(0px, 0px); */
    text-decoration: none;
    color: black;


}   
#iniciar:hover{
    animation-name: mousehover;
    animation-duration: 0.4s;
    
    
    font-size: large;
    transform: scale(1.3,1.3);
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50%;
    padding-right: 50%;
    letter-spacing: 5px;
    

    
}
#iniciar:not(:hover){
    animation-name: mousenothover;
    animation-duration: 0.4s;
    
    
    font-size: medium;
    transform: scale(1,1);
    background-color:white ;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
    

    
}

@keyframes mousenothover {
    0%{
        font-size: large;
        transform: scale(1.3,1.3);
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 50%;
        padding-right: 50%;
        letter-spacing: 5px;

    }
    100%{
        
        font-size: medium;
        transform: scale(1,1);
        background-color:white ;
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        letter-spacing: 1px;
    }
    
}

@keyframes mousehover {
    0%{
        
        font-size: medium;
        transform: scale(1,1);
        background-color:white ;
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        letter-spacing: 1px;
    }
    100%{
        
        font-size: large;
        transform: scale(1.3,1.3);
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 50%;
        padding-right: 50%;
        letter-spacing: 5px;
    }
    
}

@keyframes slideup {
    /* 0% {transform: translate(0,0);} */
    /* 100%{transform: translate(0, -100%);} */
    0%{
        opacity: 0;
        /* transform: translate(-100%, 100%); */
        top: 50%;
        
    }
    100%{
        opacity: 1;
        top: 40%
        /* transform: translate(-50%, -50%) */
        
    }
    
}